<div class="container-fluid mt-3">
  <h1>Category: <%= @blog.category.category%></h1>
  <h3><%= @blog.title%></h3>
  <P> <%= @blog.content%></p>
  <%= link_to 'Edit', edit_blog_path(@blog.id), class: 'btn btn-primary' %>
  <%= link_to "Delete", blog_path(@blog.id), method: :delete , class: 'btn btn-danger'%>
  <%= link_to 'Back', blogs_path, class: 'btn btn-primary' %>
</div>
